<generic-grid [gridConfig]="gridConfig">
    <div class="p-grid">
        <div class="p-col-3">
            <div class="input-group">
                <input class="form-control" style="border:none;min-height: 70% !important; font-size: 150% !important" pInputText placeholder="From" placement="bottom"
                       name="dp" [(ngModel)]="dateObj.fromDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="fa fa-calendar btn btn-blue btn-sm btn-reverse btn-block" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="p-col-3">
            <div class="input-group">
                <input class="form-control" style="border:none; min-height: 70% !important;font-size: 150% !important" pInputText placeholder="To" placement="bottom"
                       name="dp1" [(ngModel)]="dateObj.toDate" ngbDatepicker #e="ngbDatepicker">
                <div class="input-group-append">
                    <button class="fa fa-calendar btn btn-blue btn-sm btn-reverse btn-block" (click)="e.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="p-col-3">
            <p-dropdown [options]="messageTypeList" [(ngModel)]="dateObj.messageType" [style]="{display: 'grid'}" [filter]="true"></p-dropdown>
        </div>
        <div class="p-col-2" style="padding-left:1%" >
            <input class="form-control" style="border:none; min-height: 70% !important;font-size: 150% !important;" pInputText placeholder="MPhone - Optional" [(ngModel)]="dateObj.mPhone" [disabled]="mPhone">
        </div>
        <div class="p-col-1">
            <button type="button" class="btn btn-blue btn-sm btn-reverse btn-block" (click)="onDateChange()"><i class="fas fa-search" style="text-align:center"></i></button>
        </div>
    </div>
</generic-grid>