
<div class="form-elements">
    <p-card [style]="{'margin-bottom':'20px'}">
        <div class="form-group">
            <h6 class="form-header"><i class="fa fa-list-alt" aria-hidden="true"></i>  <span *ngIf="!isEditMode"> Commission Conversion</span><span *ngIf="isEditMode && !isRegistrationPermitted"> Update</span><span *ngIf="isEditMode && isRegistrationPermitted"> Register</span> Commission Conversion</h6>
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="form-group row">
                        <label for="AcNumber" class="col-sm-3 col-form-label">A/C Number<span class="mandatory">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-input" [(ngModel)]="commissionConvertModel.mphone" placeholder="01xxxxxxxxx" pKeyFilter="int" maxlength="11" (change)="getDetailsByMphone()">
                            <p-message *ngIf="(commissionConvertModel.mphone==null || commissionConvertModel.mphone=='') && error " severity="error" text="Cannot be left blank"></p-message>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="form-group row">
                        <label for="AcCode" class="col-sm-3 col-form-label">Name </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="commissionConvertModel.name"  [disabled]="true">
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-col-6">
                    <div class="form-group row">
                        <label for="CompanyName" class="col-sm-3 col-form-label">Commission Balance</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="commissionConvertModel.commiBalance"  [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="form-group row">
                        <label for="AcHolderName" class="col-sm-3 col-form-label third-line">Category</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="commissionConvertModel.category"  [disabled]="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="form-group row">
                        <label for="Amount" class="col-sm-3 col-form-label">Amount<span class="mandatory">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="9" [(ngModel)]="commissionConvertModel.amount" id="Amount" pInputText pKeyFilter="money" (change)="enableDisableSave();" [disabled]="isRegistrationPermitted">
                            <p-message *ngIf="(commissionConvertModel.amount==null || commissionConvertModel.amount=='' || commissionConvertModel.amount == '0') && error " severity="error" text="Cannot be left blank"></p-message>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">

                </div>
            </div>
          
        </div>
    </p-card>
</div>
<!--</fieldset>-->
<!--<app-generic-form-action [isEditMode]="isEditMode" (onSave)="saveDistributorDepositCashEntry($event)" (onDelete)="onDeleteMerchant($event)"></app-generic-form-action>-->
<app-generic-form-action [isEditMode]="isEditMode" [isRejectAllowed]="true"  [disableAction]="isDisableSave"  (onSave)="saveCommissionConversion($event)"></app-generic-form-action>
