<p-messages [(value)]="msgs" *ngIf="showDuplicateMsg"></p-messages>
<mfs-loader *ngIf="isLoading"></mfs-loader>
<fieldset [disabled]="isRegistrationPermitted && isEditMode ? 'disabled' : null">
	<p-card [style]="{'margin-bottom':'20px'}">
		<div class="form-group">
			<h6 class="form-header">Office use only</h6>
			<div class="p-grid">

				<div class="p-col-4">
					<label for="float-input input-lg" class=" col-form-label-dd">Chain Merchant<span class="mandatory">*</span></label>
					<p-dropdown [options]="chainMerchantList" [(ngModel)]="selectedChainMerchant" placeholder="Please Select"
								[disabled]="isRegistrationPermitted"
								(onChange)="getParentMerchantByMphone()" [filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								id="float-input"></p-dropdown>
					<p-message *ngIf="(selectedChainMerchant == '0') && error" severity="error" text="Cannot be left blank"></p-message>
				</div>
				
				<div class="p-col-4">
					<br />
					<span class="ui-float-label ">
						<input type="text" class="form-control form-input" [(ngModel)]="parentCode" [readonly]="true" pInputText />
						<label for="float-input input-lg" class="col-form-label">Parent Code<span class="mandatory">*</span></label>
					</span>
				</div>

				<div class="p-col-4">
					<br />
					<span class="ui-float-label ">
						<input type="text" class="form-control" id="OwnerName" [readonly]="true" [(ngModel)]="parentCompanyName"
							   pInputText id="float-input">
						<label for="float-input input-lg" class="col-form-label-dd">Merchant Name<span class="mandatory">*</span></label>
					</span>
					<p-message *ngIf="(parentCompanyName==null || parentCompanyName=='') && error "
							   severity="error" text="Cannot be left blank"></p-message>
				</div>

			</div>

			<div class="p-grid">
				
				<div class="p-col-6">
					<label for="float-input input-lg" class="col-form-label-dd">Photo Id Type<span class="mandatory">*</span></label>
					<p-dropdown [options]="photoIDTypeList" placeholder="Select Type"
								[(ngModel)]="regInfoModel.photoIdTypeCode" [disabled]="isRegistrationPermitted"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"></p-dropdown>

					<p-message *ngIf="(regInfoModel.photoIdTypeCode==null || regInfoModel.photoIdTypeCode=='') && error " severity="error" text="Cannot be left blank"></p-message>
				</div>

				<div class="p-col-6">
					<br />
					<span class="ui-float-label ">
						<input type="text" class="form-control" [(ngModel)]="regInfoModel.photoId" (change)="checkPhotoIdLength()" pInputText id="float-input">
						<label for="float-input input-lg" class="col-form-label">Photo ID No <span class="mandatory">*</span></label>
					</span>
					<p-message *ngIf="(regInfoModel.photoId==null || regInfoModel.photoId=='') && error " severity="error" text="Cannot be left blank"></p-message>
					<p-message *ngIf="formValidation.photoId" severity="error" text="Invalid NID"></p-message>
				</div>

			</div>

			<div class="p-grid">
				<div class="p-col-6">
					<br />
					<span class="ui-float-label ">
						<p-inputMask type="text" mask="99999999999" [style]="{'width':'100%'}" [(ngModel)]="regInfoModel._ChildMphone" (change)="checkMphoneAlreadyExist()"
									 placeholder="01xxxxxxxxx" id="float-input" pKeyFilter="int" [style]="{'width':'100%'}"></p-inputMask>

						<label for="float-input input-lg" class="col-form-label-dd">Outlet Account No<span class="mandatory">*</span></label>
					</span>
					<p-message *ngIf="(regInfoModel._ChildMphone==null || regInfoModel._ChildMphone=='') && error "
							   severity="error" text="Cannot be left blank"></p-message>
				</div>
				<div class="p-col-6">
					<br />
					<span class="ui-float-label ">
						<input type="text" class="form-control" [(ngModel)]="regInfoModel._OutletCode" [readonly]="true"
							   pInputText id="float-input">
						<label for="float-input input-lg" class="col-form-label-dd">Outlet Code<span class="mandatory">*</span></label>
					</span>
					<p-message *ngIf="(regInfoModel._OutletCode==null || regInfoModel._OutletCode=='') && error "
							   severity="error" text="Cannot be left blank"></p-message>
				</div>

			</div>

			<div class="p-grid">
				<div class="p-col-4">
					<label for="float-input input-lg" class="col-form-label-dd">Outlet Name<span class="mandatory">*</span></label>
					<input type="text" class="form-control" [(ngModel)]="regInfoModel.companyName"
						   pInputText id="float-input">
					<p-message *ngIf="(regInfoModel.companyName==null || regInfoModel.companyName=='') && error "
							   severity="error" text="Cannot be left blank"></p-message>
				</div>
				<div class="p-col-4">
					<label for="float-input input-lg" class="col-form-label-dd">Business Address<span class="mandatory">*</span></label>
					<textarea rows="1" cols="55" [(ngModel)]="regInfoModel.offAddr"
							  pInputTextarea autoResize="autoResize" pInputText id="float-input"></textarea>
				</div>

				<div class="p-col-4">
					<label for="float-input input-lg" class=" col-form-label-dd">Area Type<span class="mandatory">*</span></label>
					<p-dropdown [options]="mAreaList" [(ngModel)]="selectedAreatype" placeholder="Please Select"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								[disabled]="isRegistrationPermitted"
								id="float-input"></p-dropdown>
					<p-message *ngIf="(selectedAreatype == '0') && error" severity="error" text="Cannot be left blank"></p-message>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-4">
					<label for="float-input input-lg" class="col-form-label">Division <span class="mandatory">*</span></label>
					<p-dropdown [options]="divisionList" placeholder="Select Division" [(ngModel)]="selectedDivision"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}" [disabled]="isRegistrationPermitted"
								(onChange)="fillDistrictDDLByDivision();"></p-dropdown>
					<p-message *ngIf="(selectedDivision=='0') && error " severity="error"
							   text="Cannot be left blank"></p-message>
				</div>

				<div class="p-col-4">
					<label for="float-input input-lg" class="col-form-label">District <span class="mandatory">*</span></label>
					<p-dropdown [options]="districtList" placeholder="Select District" [(ngModel)]="selectedDistrict"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								[disabled]="isRegistrationPermitted"
								(onChange)="fillThanaDDLByDistrict();"></p-dropdown>
					<p-message *ngIf="(selectedDistrict=='0') && error " severity="error"
							   text="Cannot be left blank"></p-message>
				</div>

				<div class="p-col-4">
					<label for="float-input input-lg" class="col-form-label">Thana <span class="mandatory">*</span></label>
					<p-dropdown [options]="thanaList" placeholder="Select Thana" [(ngModel)]="regInfoModel.locationCode"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								[disabled]="isRegistrationPermitted"></p-dropdown>
					<p-message *ngIf="(regInfoModel.locationCode==null || regInfoModel.locationCode=='') && error" severity="error" text="Cannot be left blank"></p-message>

				</div>

			</div>
		</div>
	</p-card>
</fieldset>
<app-generic-form-action (onSave)="validation($event)"></app-generic-form-action>
