<mfs-loader *ngIf="isLoading"></mfs-loader>
<!--<fieldset [disabled]="isRegistrationPermitted && isEditMode ? 'disabled' : null">-->
<fieldset>
	<p-card [style]="{'margin-bottom':'20px'}">
		<div class="form-group">
			<h6 class="form-header">Office use only</h6>
			<div class="p-grid">

				<div class="p-col-6">
					<label for="float-input input-lg" class=" col-form-label-dd">Merchant Mobile No<span class="mandatory">*</span></label>
					<!--<p-inputMask type="text" mask="01999999999" [style]="{'width':'100%'}" [(ngModel)]="merchantUserModel.mphone" (change)="checkMerchantUserAlreadyExist()"
								 placeholder="01xxxxxxxxx" id="float-input" pKeyFilter="int"></p-inputMask>-->
					<p-dropdown [options]="merchantList" [(ngModel)]="merchantUserModel.mobileNo" placeholder="Please Select"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								(onChange)="checkMerchantUserAlreadyExist()"
								id="float-input"></p-dropdown>
					<p-message *ngIf="(merchantUserModel.mobileNo == null || merchantUserModel.mobileNo == '') && error" severity="error" text="Cannot be left blank"></p-message>
				</div>

				<div class="p-col-6">
					<label for="float-input input-lg" class="col-form-label-dd">User Id<span class="mandatory">*</span></label>
					<input type="text" class="form-control" [(ngModel)]="merchantUserModel.mobileNo" [readonly]="true"
						   pInputText id="float-input">
				</div>


			</div>

			<div class="p-grid">
				<div class="p-col-6">
					<label for="float-input input-lg" class="col-form-label-dd">Password</label>
					<input type="password" [(ngModel)]="merchantUserModel.password" name="password" placeholder="Password" class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
					<div *ngIf="password.invalid && ( password.touched)" autocomplete="new-password" class="alert alert-danger">
						<div *ngIf="password.errors.required"> Password is required. </div>
						<div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
					</div>
				</div>

				<div class="p-col-6">
					<label for="float-input input-lg" class="col-form-label-dd">Confirm Password</label>
					<input type="password" [(ngModel)]="merchantUserModel.confirmpassword" autocomplete="new-password" name="confirmpassword" placeholder="Confirm Password" class="form-control" required #confirmpassword="ngModel" pattern="{{ password.value }}" />
					<div *ngIf=" confirmpassword.invalid && ( confirmpassword.touched)" class="alert alert-danger">
						<div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
						<div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
					</div>
				</div>
			</div>


			<div class="p-grid">
				<div class="p-col-6">
					<label for="float-input input-lg" class=" col-form-label-dd">Status</label>
					<p-dropdown [options]="statusList" [(ngModel)]="merchantUserModel.status" placeholder="Please Select"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								[disabled]="isRegistrationPermitted"
								id="float-input"></p-dropdown>
				</div>
				<div class="p-col-6">
					<label for="float-input input-lg" class=" col-form-label-dd">Merchant Type</label>
					<p-dropdown [options]="merchantTypeList" [(ngModel)]="merchantUserModel.mtype" placeholder="Please Select"
								[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"
								[disabled]="isRegistrationPermitted"
								id="float-input"></p-dropdown>
				</div>
			</div>

		</div>
	</p-card>
</fieldset>
<app-generic-form-action (onSave)="onMerchantUserSave($event)"></app-generic-form-action>
