<div>
    <mfs-pdf-viewer [src]="pdf" #mfsPdfViewer></mfs-pdf-viewer>
    <div class="p-grid" *ngIf="!isLoading">
        <div class="p-col-12" *ngIf="!isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-12" style="text-align:center">
                        <h6><b><i class="fa fa-home"></i> Welcome to OK Wallet </b></h6>
                    </div>
                    <div  class="p-col-12" style="text-align:center">
                        <img src="assets/wallet.png" height="40px" alt="">
                    </div>
                </div>
            </p-card>
        </div>
        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-4">
                        <h6><b><i class="fa fa-th-list"></i> Cash In/Cash Out</b></h6>
                    </div>

                    <div class="p-col-8" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <!--<div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Branch Cash In (Deposit)<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">Branch Cash Out (Withdrawal)<i class="fas fa-money-bill-alt"></i></button>
                        </div>-->
                        <div *ngFor="let item of cashInOutMenus" class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBillCollectionMenu(item.URL)">{{item.FEATURENAME}}<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>

                </div>


            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Utility Bill Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div *ngFor="let item of utilityBillCollectionMenus" class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBillCollectionMenu(item.URL)">{{item.FEATURENAME}}<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Tuition Fee Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div *ngFor="let item of tuitionFeeCollectionMenus" class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBillCollectionMenu(item.URL)">{{item.FEATURENAME}}<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Credit Card Bill Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div *ngFor="let item of creditCardBillCollectionMenus" class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBillCollectionMenu(item.URL)">{{item.FEATURENAME}}<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Other Bill/Fee Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div *ngFor="let item of OtherBillFeeCollectionMenus" class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBillCollectionMenu(item.URL)">{{item.FEATURENAME}}<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>


    </div>
    <div class="loader-center" *ngIf="isLoading">
        <p-progressSpinner></p-progressSpinner>
    </div>


</div>