<div>
    <div class="p-grid" *ngIf="!isLoading">
        <div class="p-col-12" *ngIf="!isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-12" style="text-align:center">
                        <h6><b><i class="fas fa-tachometer-alt"></i> OK Wallet Dashboard</b></h6>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-4">
                        <h6><b><i class="fa fa-th-list"></i> Cash In/Cash Out</b></h6>
                    </div>

                    <div class="p-col-8" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Branch Cash In (Deposit)<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">Branch Cash Out (Withdrawal)<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <!--<div class="btn-group edit-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToReport()">Report <i class="fa fa-th-list"></i></button>
                    </div>-->
                    </div>

                </div>


            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Utility Bill Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Dhaka WASA<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">DPDC Postpaid<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">DPDC Prepaid<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">NESCO<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">DESCO Postpaid<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToReport()">Jalalabad Gas<i class="fa fa-th-list"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Tuition Fee Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">OK EMS<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">EDUMAN<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                         <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">EMS ID Retrive<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Credit Card Bill Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">ONE Bank Credit Card<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Lanka Bangla DPS<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Lanka Bangla Credit Card Bill<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">Other Bank Credit Card Bill<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="p-col-12" *ngIf="isBranchTeller && userPStatus!=='N'">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-3">
                        <h6><b><i class="fas fa-money-bill"></i> Other Bill/Fee Collection</b></h6>
                    </div>

                    <div class="p-col-9" *ngIf="isBranchTeller && userPStatus!=='N'">
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">NID Info Correction<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Other Info Correction<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashIn()">Both Info Correction<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToBranchCashOut()">Duplicate Regular<i class="fas fa-money-bill-alt"></i></button>
                        </div>
                        <div class="btn-group edit-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-blue btn-sm btn-reverse" (click)="goToReport()">Duplicate Urgent <i class="fa fa-th-list"></i></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>






        <div class="p-grid" *ngIf="!isBranchTeller && userPStatus!=='N'">
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">TOTAL CLIENTS</h6>
                        </div>
                        <div class="p-col-7">
                            <h6 style="color:blue"><b>{{dashboardModel.totalClientCount.TOTAL |number }}</b></h6>
                        </div>
                        <div class="p-col-5">
                            <h6 style="float:right"><i class="fas fa-users"></i></h6>
                        </div>
                        <div class="p-col-12">
                            <hr /><h6 style="color:cadetblue">ACTIVE</h6>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">NEW CLIENTS</h6>
                        </div>
                        <div class="p-col-7">
                            <h6 style="color:blue"><b>{{dashboardModel.totalClientCount.CLIENTTHISMONTH |number }}</b></h6>
                        </div>
                        <div class="p-col-5">
                            <h6 style="float:right"><i class="fas fa-user-plus"></i></h6>
                        </div>
                        <div class="p-col-12">
                            <hr /><h6 style="color:cadetblue">THIS MONTH</h6>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card styleClass="ui-card-shadow">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">NEW CLIENTS</h6>
                        </div>
                        <div class="p-col-7">
                            <h6 style="color:blue"><b>{{dashboardModel.totalClientCount.CLIENTTHISYEAR |number }}</b></h6>
                        </div>
                        <div class="p-col-5">
                            <h6 style="float:right"><i class="fas fa-user-plus"></i></h6>
                        </div>
                        <div class="p-col-12">
                            <hr /><h6 style="color:cadetblue">THIS YEAR</h6>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">TOTAL CLIENTS</h6>
                        </div>
                        <div class="p-col-12">
                            <p-chart type="doughnut" [data]="pieData"></p-chart>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">TRANSACTIONS THIS YEAR</h6>
                        </div>
                        <div class="p-col-12">
                            <p-chart type="line" [data]="barData"></p-chart>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">TOTAL TRANSACTION</h6>
                        </div>
                        <div class="p-col-12">
                            <p-chart type="line" [data]="barData2"></p-chart>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">ASSET</h6>
                        </div>
                        <div class="p-col-7">
                            <h6 style="color:blue"><b [innerHtml]="dashboardModel.totalAsset.ASSET | number | bdtCurrency">৳</b></h6>

                        </div>
                        <div class="p-col-5">
                            <h6 style="float:right"><i class="fas fa-money-bill-wave"></i></h6>
                        </div>
                        <div class="p-col-12">
                            <hr /><h6 style="color:cadetblue">ACTIVE</h6>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">TOTAL TRANSACTION (Crore)</h6>
                        </div>
                        <div class="p-col-7">
                            <h6 style="color:blue"><b [innerHtml]="dashboardModel.totalTransaction | number | bdtCurrency"></b> <b style="margin-left:0.2em;">Cr</b></h6>
                        </div>
                        <div class="p-col-5">
                            <h6 style="float:right"><i class="fas fa-comment-dollar"></i></h6>
                        </div>
                        <div class="p-col-12">
                            <hr /><h6 style="color:cadetblue">ACTIVE</h6>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-4">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h6 style="color:cadetblue">PROMOTIONS AND CASHBACK</h6>
                        </div>
                        <div class="p-col-7">
                            <h6 style="color:blue"><b>3</b></h6>
                        </div>
                        <div class="p-col-5">
                            <h6 style="float:right"><i class="fab fa-battle-net"></i></h6>
                        </div>
                        <div class="p-col-12">
                            <hr /><h6 style="color:cadetblue">ONGOING</h6>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="p-col-12">
                <p-carousel headerText="Client Count" [value]="clientCountList" numVisible="7" *ngIf="!isLoading" easing="easeOutStrong">
                    <ng-template let-client pTemplate="item">
                        <p-card>
                            <div class="p-grid" *ngIf="client.name != 'CLIENT'">
                                <div class="p-col-12"> <h6 style="text-align:center"><i class="{{client.icon}}"></i></h6></div>
                                <div class="p-col-12"><h6 style="color:blue;text-align:center"><b>{{client.name}}</b></h6> </div>
                                <div class="p-col-12"><h6 style="color:blue;text-align:center"><b>{{client.count}}</b></h6> </div>
                                <div class="p-col-12"><h6 style="color:blue;text-align:center"><b>{{client.thisMonth}}</b></h6> </div>
                                <div class="p-col-12"><h6 style="color:blue;text-align:center"><b>{{client.thisYear}}</b></h6> </div>
                                <div class="p-col-12"><h6 style="color:red;text-align:center"><b>{{client.pending}}</b></h6> </div>
                            </div>
                            <div class="p-grid" *ngIf="client.name == 'CLIENT'">
                                <div class="p-col-12"> <h6 style="color:cadetblue;text-align:center"><i class="{{client.icon}}"></i></h6></div>
                                <div class="p-col-12"><h6 style="color:cadetblue;text-align:center"><b>Client Type</b></h6></div>
                                <div class="p-col-12"><h6 style="color:cadetblue;text-align:center"> <b>Total Count</b></h6></div>
                                <div class="p-col-12"><h6 style="color:cadetblue;text-align:center"> <b>(+) This Month</b></h6></div>
                                <div class="p-col-12"><h6 style="color:cadetblue;text-align:center"> <b>(+) This Year</b></h6></div>
                                <div class="p-col-12"><h6 style="color:cadetblue;text-align:center"> <b>Pending</b></h6></div>
                            </div>
                        </p-card>
                    </ng-template>
                </p-carousel>
            </div>
        </div>


    </div>
    <div class="loader-center" *ngIf="isLoading">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>