<p-messages [(value)]="msgs" *ngIf="showDuplicateMsg"></p-messages>
<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="!isEditMode"></p-steps>
<mfs-loader *ngIf="isLoading"></mfs-loader>
<fieldset [disabled]="isRegPermit ? 'disabled' : null">
	<div class="form-elements">

		<!--Primary Information-->
		<div *ngIf="activeIndex==0">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Office use only</h6>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<p-inputMask type="text" mask="99999999999" [style]="{'width':'100%'}" [(ngModel)]="regInfoModel.mphone" (change)="checkMphoneAlreadyExist()"
											 placeholder="01xxxxxxxxx" id="float-input" pKeyFilter="int"></p-inputMask>
								<label for="float-input input-lg" class="col-form-label">Customer AC No<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.mphone==null || regInfoModel.mphone=='') && error " severity="error" text="Cannot be left blank"></p-message>

						</div>

						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control form-input" [(ngModel)]="regInfoModel.formSerial"
									   pInputText [pKeyFilter]="customeNumberInput" id="float-input" />
								<label for="FormSerialNo" class="col-form-label">Form SL No</label>
							</span>
						</div>

					</div>

					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" class="form-control" placement="top"
									   name="dp" #regDateControl="ngModel" [(ngModel)]="regDate" [readonly]="true"
									   ngbDatepicker #d="ngbDatepicker"  pInputText id="float-input">
								<label for="regDate" class="col-form-label">Reg Date<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regDate.year==null || regInfoModel.year=='') && error " severity="error" text="Cannot be left blank"></p-message>
						</div>

					</div>

				</div>
			</p-card>
		</div>

		<!--Personal Information-->
		<div *ngIf="activeIndex==1">

			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Personal details</h6>
					<br />
					<div class="p-grid">
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.name" uppercase [pKeyFilter]="alphabetsWithSpace" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Customer Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.name==null || regInfoModel.name=='') && error" severity="error"
									   text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label">
								<input autocomplete="off" class="form-control" placement="down" pInputText id="float-input" [readonly]="true"
									   [(ngModel)]="dateOfBirth" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
								<label for="float-input input-lg" class="col-form-label">Date Of Birth <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(dateOfBirth.year==null || dateOfBirth.year=='') && error" severity="error"
									   text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<div class="form-group row">
								<label for="Gender" class="col-sm-2 col-form-label">Gender</label>
								<div class="col-sm-10">
									<p-selectButton [options]="genderTypes" [(ngModel)]="regInfoModel.gender" [disabled]="isRegPermit" [style]="{color: 'white'}"></p-selectButton>
								</div>
							</div>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.fatherName" uppercase [pKeyFilter]="alphabetsWithSpace" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Father's Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.fatherName==null || regInfoModel.fatherName=='') && error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.motherName" [pKeyFilter]="alphabetsWithSpace" uppercase pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Mother's Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.motherName==null || regInfoModel.motherName=='') && error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.spouseName" [pKeyFilter]="alphabetsWithSpace" uppercase pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Spouse Name</label>
							</span>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<p-dropdown [options]="religeonList" [(ngModel)]="regInfoModel.religion" [disabled]="isRegPermit"
											[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"></p-dropdown>
								<label for="float-input input-lg" class="col-form-label"> Religion</label>
							</span>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.nationality" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Nationality</label>
							</span>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.monthlyIncome" pInputText id="float-input" pKeyFilter="num">
								<label for="float-input input-lg" class="col-form-label"> Monthly Income</label>
							</span>
						</div>
						<div class="p-col-3">
							<label for="float-input input-lg" class="col-form-label-dd">Email</label>
							<input type="text" autocomplete="off" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" [(ngModel)]="regInfoModel.email" #emailref="ngModel">
							<div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
								<div [hidden]="!emailref.errors?.pattern">
									Invalid pattern
								</div>
							</div>
						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> Photo ID Type<span class="mandatory">*</span></label>
							<p-dropdown [options]="photoIDTypeList" placeholder="Select Type" [(ngModel)]="regInfoModel.photoIdTypeCode" [disabled]="isRegPermit"
										[filter]="true" filterBy="label,value.name"
										[style]="{display: 'grid'}"></p-dropdown>
							<p-message *ngIf="(regInfoModel.photoIdTypeCode==null || regInfoModel.photoIdTypeCode=='') && error " severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4" *ngIf="!isRegPermit">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" name="photoId" [(ngModel)]="regInfoModel.photoId" pInputText id="float-input" (change)="checkPhotoIdLength()">
								<label for="float-input input-lg" class="col-form-label"> Photo ID No<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.photoId==null || regInfoModel.photoId=='') && error " severity="error" text="Cannot be left blank"></p-message>
							<p-message *ngIf="formValidation.photoId" severity="error" text="Invalid NID"></p-message>

						</div>
						<div class="p-col-3" *ngIf="isRegPermit">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" name="photoId" [(ngModel)]="regInfoModel.photoId" pInputText id="float-input" (change)="checkPhotoIdLength()" [pKeyFilter]="customeNumberInput">
								<label for="float-input input-lg" class="col-form-label"> Photo ID No<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.photoId==null || regInfoModel.photoId=='') && error " severity="error" text="Cannot be left blank"></p-message>
							<p-message *ngIf="formValidation.photoId" severity="error" text="Invalid NID"></p-message>

						</div>
						<div class="p-col-1" *ngIf="isRegPermit">
							<label class="col-form-label-dd">Is Verified?</label>
							<!--<p-triStateCheckbox [(ngModel)]="isNidVerified" ></p-triStateCheckbox>-->
							<p-toggleButton [(ngModel)]="isNidVerified"></p-toggleButton>

						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> Occupation<span class="mandatory">*</span></label>
							<!--<input autocomplete="off"  type="text" class="form-control" [(ngModel)]="regInfoModel.occupation" pInputText id="float-input">-->
							<p-dropdown [options]="occupationList" placeholder="Select Occupation" [(ngModel)]="regInfoModel.occupation"
										[filter]="true" filterBy="label,value.name"
										[style]="{display: 'grid'}" [disabled]="isRegPermit"></p-dropdown>

							<p-message *ngIf="(regInfoModel.occupation==null || regInfoModel.occupation=='') && error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.conMob"
									   [pKeyFilter]="customeNumberInput" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Customer Mobile No</label>
							</span>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.conPhone"
									   [pKeyFilter]="customeNumberInput" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Customer Phone</label>
							</span>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.secondConName" [pKeyFilter]="alphabetsWithSpace" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Second Contact Name</label>
							</span>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.secondConMob"
									   [pKeyFilter]="customeNumberInput" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Second Contact Mobile</label>
							</span>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.thirdConName" [pKeyFilter]="alphabetsWithSpace" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Third Contact Name</label>
							</span>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.thirdConMob"
									   [pKeyFilter]="customeNumberInput" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Third Contact Mobile</label>
							</span>
						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> Division <span class="mandatory">*</span></label>
							<p-dropdown [options]="divisionList" placeholder="Select Division" [(ngModel)]="selectedDivision"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}" [disabled]="isRegPermit"
										(onChange)="fillDistrictDDLByDivision();"></p-dropdown>

							<p-message *ngIf="(selectedDivision == '0') && error"
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> District <span class="mandatory">*</span></label>
							<p-dropdown [options]="districtList" placeholder="Select District" [(ngModel)]="selectedDistrict"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}" [disabled]="isRegPermit"
										(onChange)="fillThanaDDLByDistrict();"></p-dropdown>

							<p-message *ngIf="(selectedDistrict == '0') && error"
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> Thana <span class="mandatory">*</span></label>
							<p-dropdown [options]="thanaList" placeholder="Select Thana" [(ngModel)]="regInfoModel.locationCode" [disabled]="isRegPermit"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"></p-dropdown>
							<p-message *ngIf="(regInfoModel.locationCode==null || regInfoModel.locationCode=='') && error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<textarea rows="2" cols="50" id="float-input" [(ngModel)]="regInfoModel.offAddr"
										  pInputTextarea uppercase autoResize="autoResize"></textarea>
								<label for="float-input input-lg" class="col-form-label"> Official Address</label>
							</span>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<textarea rows="2" cols="50" id="float-input" [(ngModel)]="regInfoModel.preAddr"
										  pInputTextarea uppercase autoResize="autoResize"></textarea>
								<label for="float-input input-lg" class="col-form-label"> Present Address</label>
							</span>
						</div>

						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<textarea rows="2" cols="50" id="float-input" [(ngModel)]="regInfoModel.perAddr"
										  pInputTextarea uppercase autoResize="autoResize"></textarea>
								<label for="float-input input-lg" class="col-form-label"> Permanent Address<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.perAddr==null || regInfoModel.perAddr=='')  && error " severity="error" text="Cannot be left blank"></p-message>
						</div>
					</div>
				</div>
			</p-card>
		</div>

		<!--Nominee and Introducer-->
		<div *ngIf="activeIndex==2">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Nominee Information</h6>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" uppercase pInputText [pKeyFilter]="alphabetsWithSpace" id="float-input"
									   [(ngModel)]="regInfoModel.firstNomineeName">
								<label for="NomineeName" class="col-form-label">Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(regInfoModel.firstNomineeName==null || regInfoModel.firstNomineeName=='')  && error " severity="error" text="Cannot be left blank"></p-message>
						</div>

						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" pInputText id="float-input"
									   [(ngModel)]="regInfoModel.nomineeConNo" [pKeyFilter]="customeNumberInput">
								<label for="NomineeContactNo" class="col-form-label ">Nominee Contact No</label>
							</span>
						</div>
					</div>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" pInputText id="float-input" [(ngModel)]="regInfoModel.firstNomineeAge"
									   [pKeyFilter]="customeNumberInput">
								<label for="NomineeAge" class="col-form-label">Age</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<p-dropdown [options]="relationList" [(ngModel)]="regInfoModel.relationFirstNominee"
											[disabled]="isRegPermit" [filter]="true" filterBy="label,value.name"
											[style]="{display: 'grid'}"></p-dropdown>
								<label for="Relation" class="col-form-label ">Relation</label>
							</span>

						</div>

					</div>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.partOfFirst" [disabled]="true"
									   pInputText id="float-input" [pKeyFilter]="customeNumberInput">
								<label for="Ratio" class="col-form-label">Ratio</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" pInputText uppercase id="float-input" [(ngModel)]="regInfoModel.firstNomineeAddress">
								<label for="NomineeAddress" class="col-form-label ">Address</label>
							</span>
						</div>

					</div>
				</div>

			</p-card>

		</div>
		<!--Introducer Info-->
		<div *ngIf="activeIndex==3">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Bank Information</h6>

					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.introAcNo" pInputText id="float-input">
								<label for="introducerMobile" class="col-form-label">Intro Mobile</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" uppercase [pKeyFilter]="alphabetsWithSpace" [(ngModel)]="regInfoModel.introName"
									   pInputText id="float-input">
								<label for="introducerName" class="col-form-label">Intro Name</label>
							</span>
						</div>

					</div>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.introOccupation"
									   pInputText id="float-input">
								<label for="introOccupation" class="col-form-label">Occcupation Name </label>
							</span>
						</div>

						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.introAddr"
									   pInputText uppercase id="float-input">
								<label for="introducerAddress" class="col-form-label">Intro Address</label>
							</span>
						</div>
					</div>
				</div>
			</p-card>
		</div>
		<!--Bank info-->
		<div *ngIf="activeIndex==4">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Bank Information</h6>

					<div class="p-grid">
						<div class="p-col-6">
							<label for="BankBranch" class="col-form-label ">Branch Name <span class="mandatory">*</span></label>
							<p-dropdown [options]="bankBranchList" [(ngModel)]="regInfoModel.branchCode" [disabled]="isRegPermit"
										[filter]="true" filterBy="label,value.name" [showClear]="true" placeholder="Select Branch"
										[style]="{display: 'grid'}"></p-dropdown>
							<p-message *ngIf="(regInfoModel.branchCode==null || regInfoModel.branchCode=='') && error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
					</div>

					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" uppercase [(ngModel)]="regInfoModel.accountName"
									   pInputText id="float-input">
								<label for="AccountName" class="col-form-label">Account Name</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="regInfoModel.bankAcNo"
									   pInputText id="float-input" [pKeyFilter]="customeNumberInput">
								<label for="AccountNo" class="col-form-label ">Account No</label>
							</span>
						</div>
					</div>
				</div>

			</p-card>

		</div>
	</div>
</fieldset>
<app-generic-stepper-form-action [activeIndex]="activeIndex" [maxIndex]="5" [isRejectAllowed]="true" (onSaveAction)="SaveCustomer($event)" (onStepAhead)="onStepAhead($event)" (onStepBack)="onStepBack()" [disableAction]="!isNidVerified"></app-generic-stepper-form-action>


<!--<div class="event-buttons">
	<p-card>
		<div class="p-grid">
			<div class="p-col-1">
				<button class="btn btn-danger btn-block btn-reverse" (click)="cancel()">Cancel</button>
			</div>
			<div class="p-col-9">
			</div>
			<div class="p-col-1">
				<button class="btn btn-warning btn-block btn-reverse" *ngIf="activeIndex!=0" (click)="onStepBack()">Back</button>
			</div>
			<div class="p-col-1">
				<button class="btn btn-success btn-block btn-reverse" (click)="onStepAhead()"><span *ngIf="activeIndex<4">Next</span><span *ngIf="activeIndex==4">Save</span></button>
			</div>
		</div>
	</p-card>
</div>-->
