<p-messages [(value)]="msgs" *ngIf="reginfo.showDuplicateMsg"></p-messages>
<p-steps [model]="reginfo.items" [(activeIndex)]="reginfo.activeIndex" [readonly]="!reginfo.isEditMode"></p-steps>
<mfs-loader *ngIf="reginfo.isLoading"></mfs-loader>
<fieldset [disabled]="reginfo.isRegPermit ? 'disabled' : null">
	<div class="form-elements">
		<p-card>
			<div class="form-group">
				<div class="p-grid">
					<div class="p-col-4">
						<label for="float-input input-lg" style="font-size:large" class="col-form-label">Displayed OK Account: {{reginfo.regInfoModel.mphone}}</label>
					</div>
					<div class="p-col-4">
					</div>
					<div class="p-col-4">
						<p-selectButton [options]="reginfo.kycTypes" [(ngModel)]="reginfo.selectedKycType" [disabled]="reginfo.isEditMode" (onChange)="switchInputMethod()" [style]="{color: 'white'}"></p-selectButton>
					</div>
				</div>
			</div>
		</p-card>
		<!--Primary Information-->
		<div *ngIf="reginfo.activeIndex==0 && reginfo.selectedKycType==='K'">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Office use only</h6>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<p-inputMask type="text" mask="99999999999" [style]="{'width':'100%'}" [(ngModel)]="reginfo.regInfoModel.mphone" (change)="checkMphoneAlreadyExist()"
											 placeholder="01xxxxxxxxx" id="float-input" pKeyFilter="int"></p-inputMask>
								<label for="float-input input-lg" class="col-form-label">OK AC No<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.mphone==null || reginfo.regInfoModel.mphone=='') && reginfo.error " severity="error" text="Cannot be left blank"></p-message>

						</div>

						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control form-input" [(ngModel)]="reginfo.regInfoModel.formSerial"
									   pInputText [pKeyFilter]="reginfo.customeNumberInput" id="float-input" />
								<label for="FormSerialNo" class="col-form-label">KYC Form Serial No</label>
							</span>
						</div>

					</div>

					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" class="form-control" placement="top"
									   name="dp" #reginfo.regDateControl="ngModel" [(ngModel)]="reginfo.regDate" [readonly]="true"
									   ngbDatepicker #d="ngbDatepicker" pInputText id="float-input">
								<label for="reginfo.regDate" class="col-form-label">Registration Date<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regDate.year==null || reginfo.regInfoModel.year=='') && reginfo.error " severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control form-input" [(ngModel)]="reginfo.regInfoModel.pmphone"
									   pInputText [readonly]="true" id="float-input" />
								<label for="pmphone" class="col-form-label">Agent No</label>
							</span>
						</div>
					</div>

				</div>
			</p-card>
		</div>

		<!--Personal Information-->
		<div *ngIf="reginfo.activeIndex==1">

			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Personal details</h6>
					<br />
					<div class="p-grid">
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.name" appPascalcase [pKeyFilter]="reginfo.alphabetsWithSpace" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Customer First Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.name==null || reginfo.regInfoModel.name=='') && reginfo.error" severity="error"
									   text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-2">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.lastName" appPascalcase [pKeyFilter]="blockSpecial" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Customer Last Name </label>
							</span>
							<!--<p-message *ngIf="(reginfo.regInfoModel.name==null || reginfo.regInfoModel.name=='') && reginfo.error" severity="error"
		text="Cannot be left blank"></p-message>-->
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label">
								<input autocomplete="off" class="form-control" placement="down" pInputText id="float-input" (change)="validateDatepicker($event)"
									   [(ngModel)]="reginfo.dateOfBirth" ngbDatepicker #d="ngbDatepicker">
								<label for="float-input input-lg" class="col-form-label">Date Of Birth <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.dateOfBirth.year==null || reginfo.dateOfBirth.year=='') && reginfo.error" severity="error"
									   text="Cannot be left blank"></p-message>
							<p-message *ngIf="(reginfo.dateOfBirth.year==null || reginfo.dateOfBirth.year=='')" severity="error"
									   text="Please Input Valid Date  [yyyy-mm-dd]"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<div class="form-group row">
								<label for="Gender" class="col-sm-2 col-form-label">Gender<span class="mandatory">*</span></label>
								<div class="col-sm-10">
									<p-selectButton [options]="reginfo.genderTypes" [(ngModel)]="reginfo.regInfoModel.gender" [disabled]="reginfo.isRegPermit" [style]="{color: 'white'}"></p-selectButton>
								</div>
							</div>
							<p-message *ngIf="(reginfo.regInfoModel.gender==null || reginfo.regInfoModel.gender=='') && reginfo.error" severity="error"
									   text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.fatherName" appPascalcase [pKeyFilter]="blockSpecial" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Father's Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.fatherName==null || reginfo.regInfoModel.fatherName=='') && reginfo.error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.motherName" [pKeyFilter]="blockSpecial" appPascalcase pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label">Mother's Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.motherName==null || reginfo.regInfoModel.motherName=='') && reginfo.error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.spouseName" [pKeyFilter]="blockSpecial" appPascalcase pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Spouse Name</label>
							</span>
						</div>
						<div class="p-col-4">
							<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel._FatherNameBangla" [readonly]="true" placeholder="Father Name Bangla" id="float-input">
						</div>
						<div class="p-col-4">

							<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel._MotherNameBangla" [readonly]="true" placeholder="Mother Name Bangla" id="float-input">
						</div>
						<div class="p-col-4">
							<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel._SpouseNameBangla" [readonly]="true" placeholder="Spouse Name Bangla" id="float-input">
						</div>
						<div class="p-col-3">
							<label for="float-input input-lg" class="col-form-label-dd"> Religion</label>
							<p-dropdown [options]="reginfo.religeonList" placeholder="Select Religion" [(ngModel)]="reginfo.regInfoModel.religion" [disabled]="reginfo.isRegPermit"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"></p-dropdown>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.nationality" pInputText id="float-input">
								<label for="float-input input-lg" class="col-form-label"> Nationality</label>
							</span>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.monthlyIncome" pInputText id="float-input" pKeyFilter="num">
								<label for="float-input input-lg" class="col-form-label"> Monthly Income</label>
							</span>
						</div>
						<div class="p-col-3">
							<label for="float-input input-lg" class="col-form-label-dd">Email</label>
							<input type="text" autocomplete="off" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" [(ngModel)]="reginfo.regInfoModel.email" #emailref="ngModel">
							<div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
								<div [hidden]="!emailref.errors?.pattern">
									Invalid pattern
								</div>
							</div>
						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> Photo ID Type<span class="mandatory">*</span></label>
							<p-dropdown [options]="reginfo.photoIDTypeList" placeholder="Select Type" [(ngModel)]="reginfo.regInfoModel.photoIdTypeCode" [disabled]="reginfo.isRegPermit"
										[filter]="true" filterBy="label,value.name"
										[style]="{display: 'grid'}"></p-dropdown>
							<p-message *ngIf="(reginfo.regInfoModel.photoIdTypeCode==null || reginfo.regInfoModel.photoIdTypeCode=='') && reginfo.error " severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-4" *ngIf="!reginfo.isRegPermit">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" name="photoId" [(ngModel)]="reginfo.regInfoModel.photoId" pInputText id="float-input" (change)="checkPhotoIdLength()">
								<label for="float-input input-lg" class="col-form-label"> Photo ID No<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.photoId==null || reginfo.regInfoModel.photoId=='') && reginfo.error " severity="error" text="Cannot be left blank"></p-message>
							<p-message *ngIf="reginfo.formValidation.photoId" severity="error" text="Invalid NID"></p-message>

						</div>
						<div class="p-col-3" *ngIf="reginfo.isRegPermit">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" name="photoId" [(ngModel)]="reginfo.regInfoModel.photoId" pInputText id="float-input" (change)="checkPhotoIdLength()" [pKeyFilter]="reginfo.customeNumberInput">
								<label for="float-input input-lg" class="col-form-label"> Photo ID No<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.photoId==null || reginfo.regInfoModel.photoId=='') && reginfo.error " severity="error" text="Cannot be left blank"></p-message>
							<p-message *ngIf="reginfo.formValidation.photoId" severity="error" text="Invalid NID"></p-message>

						</div>
						<div class="p-col-1" *ngIf="reginfo.isRegPermit">
							<label class="col-form-label-dd">Is Verified?</label>
							<!--<p-triStateCheckbox [(ngModel)]="reginfo.isNidVerified" ></p-triStateCheckbox>-->
							<p-toggleButton [(ngModel)]="reginfo.isNidVerified"></p-toggleButton>

						</div>
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label-dd"> Occupation<span class="mandatory">*</span></label>
							<!--<input autocomplete="off"  type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.occupation" pInputText id="float-input">-->
							<p-dropdown [options]="reginfo.occupationList" placeholder="Select Occupation" [(ngModel)]="reginfo.regInfoModel.occupation"
										[filter]="true" filterBy="label,value.name"
										[style]="{display: 'grid'}" [disabled]="reginfo.isRegPermit"></p-dropdown>

							<p-message *ngIf="(reginfo.regInfoModel.occupation==null || reginfo.regInfoModel.occupation=='') && reginfo.error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>

						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<textarea rows="2" cols="50" id="float-input" [(ngModel)]="reginfo.regInfoModel.perAddr"
										  pInputTextarea appPascalcase autoResize="autoResize"></textarea>
								<label for="float-input input-lg" class="col-form-label"> Permanent Address<span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.perAddr==null || reginfo.regInfoModel.perAddr=='')  && reginfo.error " severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-1">
							<label for="float-input input-lg" class="col-form-label-dd">Same as Present</label>
							<p-checkbox [(ngModel)]="reginfo.checkedAsPresent" (onChange)="sameAsPresent()" binary="true"></p-checkbox>
						</div>

						<div class="p-col-4">
							<br />
							<span class="ui-float-label ">
								<textarea rows="2" cols="50" id="float-input" [(ngModel)]="reginfo.regInfoModel.preAddr"
										  pInputTextarea appPascalcase autoResize="autoResize"></textarea>
								<label for="float-input input-lg" class="col-form-label"> Present Address</label>
							</span>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label ">
								<textarea rows="2" cols="40" id="float-input" [(ngModel)]="reginfo.regInfoModel.offAddr"
										  pInputTextarea appPascalcase autoResize="autoResize"></textarea>
								<label for="float-input input-lg" class="col-form-label"> Official Address</label>
							</span>
						</div>

						<div class="p-col-4">						
								<label for="float-input input-lg" class="col-form-label">Permanent Address Bangla</label>
								<textarea rows="2" cols="50" id="float-input" [(ngModel)]="reginfo.regInfoModel._PerAddrBangla"
										  [readonly]="true" placeholder="Permanent Address Bangla" autoResize="autoResize"></textarea>						
						</div>
					
						<div class="p-col-4">
							<label for="float-input input-lg" class="col-form-label">Present Address Bangla</label>
							<textarea rows="2" cols="50" id="float-input" [(ngModel)]="reginfo.regInfoModel._PreAddrBangla"
									  [readonly]="true" placeholder="Present Address Bangla" autoResize="autoResize"></textarea>
						</div>
						<div class="p-col-4">
							<!--<label for="float-input input-lg" class="col-form-label">Blood Group</label>
							<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.blood" appPascalcase [pKeyFilter]="blockSpecial" pInputText id="float-input">-->
						</div>

						<div class="p-col-3">
							<label for="float-input input-lg" class="col-form-label-dd">Permanent Division <span class="mandatory">*</span></label>
							<p-dropdown [options]="reginfo.divisionList" placeholder="Select Division" [(ngModel)]="reginfo.selectedDivision"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}" [disabled]="reginfo.isRegPermit"
										(onChange)="fillDistrictDDLByDivision();"></p-dropdown>

							<p-message *ngIf="(reginfo.selectedDivision == '0') && reginfo.error"
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-3">
							<label for="float-input input-lg" class="col-form-label-dd">Permanent District <span class="mandatory">*</span></label>
							<p-dropdown [options]="reginfo.districtList" placeholder="Select District" [(ngModel)]="reginfo.selectedDistrict"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}" [disabled]="reginfo.isRegPermit"
										(onChange)="fillThanaDDLByDistrict();"></p-dropdown>

							<p-message *ngIf="(reginfo.selectedDistrict == '0') && reginfo.error"
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-3">
							<label for="float-input input-lg" class="col-form-label-dd">Permanent Thana <span class="mandatory">*</span></label>
							<p-dropdown [options]="reginfo.thanaList" placeholder="Select Thana" [(ngModel)]="reginfo.regInfoModel.locationCode" [disabled]="reginfo.isRegPermit"
										[filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"></p-dropdown>
							<p-message *ngIf="(reginfo.regInfoModel.locationCode==null || reginfo.regInfoModel.locationCode=='') && reginfo.error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
						<div class="p-col-3">
							<br />
							<span class="ui-float-label">
								<input autocomplete="off" type="text" class="form-control form-input" [(ngModel)]="reginfo.regInfoModel.postalCode"
									   pInputText [pKeyFilter]="reginfo.customeNumberInput" id="float-input" />
								<label for="float-input input-lg" class="col-form-label-dd">Postal Code</label>
							</span>
						</div>

					</div>
				</div>
			</p-card>
		</div>

		<!--Nominee and Introducer-->
		<div *ngIf="reginfo.activeIndex==2">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Nominee Information</h6>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" appPascalcase pInputText [pKeyFilter]="reginfo.alphabetsWithSpace" id="float-input"
									   [(ngModel)]="reginfo.regInfoModel.firstNomineeName">
								<label for="NomineeName" class="col-form-label">Name <span class="mandatory">*</span></label>
							</span>
							<p-message *ngIf="(reginfo.regInfoModel.firstNomineeName==null || reginfo.regInfoModel.firstNomineeName=='')  && reginfo.error " severity="error" text="Cannot be left blank"></p-message>
						</div>

						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" pInputText id="float-input"
									   [(ngModel)]="reginfo.regInfoModel.nomineeConNo" [pKeyFilter]="reginfo.customeNumberInput">
								<label for="NomineeContactNo" class="col-form-label ">Nominee Contact No</label>
							</span>
						</div>
					</div>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" pInputText id="float-input" [(ngModel)]="reginfo.regInfoModel.firstNomineeAge"
									   [pKeyFilter]="reginfo.customeNumberInput">
								<label for="NomineeAge" class="col-form-label">Age</label>
							</span>
						</div>
						<div class="p-col-6">
							<label for="Relation" class="col-form-label-dd">Relation</label>
							<p-dropdown [options]="reginfo.relationList" [(ngModel)]="reginfo.regInfoModel.relationFirstNominee"
										[disabled]="reginfo.isRegPermit" [filter]="true" filterBy="label,value.name"
										placeholder="Select Relation"
										[style]="{display: 'grid'}"></p-dropdown>
						</div>

					</div>
					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.partOfFirst" [disabled]="true"
									   pInputText id="float-input" [pKeyFilter]="reginfo.customeNumberInput">
								<label for="Ratio" class="col-form-label">Ratio</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" pInputText appPascalcase id="float-input" [(ngModel)]="reginfo.regInfoModel.firstNomineeAddress">
								<label for="NomineeAddress" class="col-form-label ">Address</label>
							</span>
						</div>

					</div>
				</div>

			</p-card>

		</div>
		<!--Introducer Info-->
		<div *ngIf="reginfo.activeIndex==3">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Introducer Information</h6>

					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.introAcNo"
									   [pKeyFilter]="reginfo.customeNumberInput" pInputText id="float-input">
								<label for="introducerMobile" class="col-form-label">Introducer Mobile</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" appPascalcase [pKeyFilter]="reginfo.alphabetsWithSpace" [(ngModel)]="reginfo.regInfoModel.introName"
									   pInputText id="float-input">
								<label for="introducerName" class="col-form-label">Introducer Name</label>
							</span>
						</div>

					</div>
					<div class="p-grid">
						<div class="p-col-6">
							<label for="introOccupation" class="col-form-label-dd">Introducer Occcupation</label>
							<!--<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.introOccupation"
							pInputText id="float-input">-->
							<p-dropdown [options]="reginfo.occupationList" placeholder="Select Occupation" [(ngModel)]="reginfo.regInfoModel.introOccupation"
										[filter]="true" filterBy="label,value.name"
										[style]="{display: 'grid'}" [disabled]="reginfo.isRegPermit"></p-dropdown>
						</div>

						<div class="p-col-6">
							<br />
							<span class="ui-float-label">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.introAddr"
									   pInputText appPascalcase id="float-input">
								<label for="introducerAddress" class="col-form-label">Introducer Address</label>
							</span>
						</div>
					</div>
				</div>
			</p-card>
		</div>
		<!--Bank info-->
		<!--<div *ngIf="reginfo.activeIndex==4">
			<p-card [style]="{'margin-bottom':'20px'}">
				<div class="form-group">
					<h6 class="form-header">Bank Information</h6>

					<div class="p-grid">
						<div class="p-col-6">
							<label for="BankBranch" class="col-form-label ">Branch Name <span class="mandatory">*</span></label>
							<p-dropdown [options]="bankBranchList" [(ngModel)]="reginfo.regInfoModel.branchCode" [disabled]="reginfo.isRegPermit"
										[filter]="true" filterBy="label,value.name" [showClear]="true" placeholder="Select Branch"
										[style]="{display: 'grid'}"></p-dropdown>
							<p-message *ngIf="(reginfo.regInfoModel.branchCode==null || reginfo.regInfoModel.branchCode=='') && reginfo.error "
									   severity="error" text="Cannot be left blank"></p-message>
						</div>
					</div>

					<div class="p-grid">
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" appPascalcase [(ngModel)]="reginfo.regInfoModel.accountName"
									   pInputText id="float-input">
								<label for="AccountName" class="col-form-label">Account Name</label>
							</span>
						</div>
						<div class="p-col-6">
							<br />
							<span class="ui-float-label ">
								<input autocomplete="off" type="text" class="form-control" [(ngModel)]="reginfo.regInfoModel.bankAcNo"
									   pInputText id="float-input" [pKeyFilter]="reginfo.customeNumberInput">
								<label for="AccountNo" class="col-form-label ">Account No</label>
							</span>
						</div>
					</div>
				</div>

			</p-card>

		</div>-->
	</div>
</fieldset>
<app-generic-stepper-form-action [activeIndex]="reginfo.activeIndex" [maxIndex]="4" [isRejectAllowed]="reginfo.isReject" (onSaveAction)="SaveCustomer($event)" (onStepAhead)="onStepAhead($event)" (onStepBack)="onStepBack()" [disableAction]="!reginfo.isNidVerified"></app-generic-stepper-form-action>

<app-generic-modal [initiateModal]="reginfo.showRejectModal" [header]="'Reject Remarks'" (onDestroy)="reginfo.showRejectModal=false" (onConfirm)="onRejectCustomer('reject')" [disableConfirm]="reginfo.regInfoModel.remarks=='' || reginfo.disableButton" *ngIf="reginfo.showRejectModal">
	<div style="margin-bottom:2rem">
		<div class="p-grid">
			<div class="p-col-3">
				<br />
				<br />
				<h5 style="text-align:center;color:cadetblue">Remarks:</h5>
			</div>
			<div class="p-col-9">
				<textarea rows="5" cols="100" pInputTextarea [(ngModel)]="reginfo.regInfoModel.remarks"></textarea>
			</div>
			<div class="p-col-12"><h6 style="text-align:center;color:cadetblue;font-size: 90%;">*Please State a reason for this action</h6></div>
		</div>
	</div>
</app-generic-modal>

<app-generic-modal [initiateModal]="reginfo.showCbsModal" [header]="'CBS Information'" [hideConfirm]="true" (onShow)="ngOnInit()" (onDestroy)="reginfo.showCbsModal=false">
	<div style="margin-bottom:8rem">
		<app-kyc-cbs (onCbsDataUpdate)="updateValueFromCbs($event)"></app-kyc-cbs>
	</div>
</app-generic-modal>

