<mfs-loader *ngIf="isLoading"></mfs-loader>
<div class="form-elements">
    <p-card [style]="{'margin-bottom':'20px'}">
        <div class="form-group">
            <h6 class="form-header"><i class="fa fa-list-alt" aria-hidden="true"></i>  <span *ngIf="!isEditMode"> Create</span><span *ngIf="isEditMode"> Refund </span> Disbursement Company</h6>
            <div class="p-grid">
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Company Name<span class="mandatory">*</span></label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.companyName" [disabled]="isEditMode">
                    <p-message *ngIf="(tblDisburseCompanyInfoModel.companyName==null || tblDisburseCompanyInfoModel.companyName=='') && error " severity="error" text="Cannot be left blank"></p-message>
                </div>

                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Address<span class="mandatory">*</span></label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.address" [disabled]="isEditMode">
                    <p-message *ngIf="(tblDisburseCompanyInfoModel.address==null || tblDisburseCompanyInfoModel.address=='') && error " severity="error" text="Cannot be left blank"></p-message>
                </div>
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Target Category<span class="mandatory">*</span></label>
                    <p-dropdown [options]="TargetCatTypeList" [(ngModel)]="tblDisburseCompanyInfoModel.targetCatId" placeholder="Select Target Category" [filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}" [disabled]="isEditMode"></p-dropdown>
                    <!--<p-message *ngIf="(tblDisburseCompanyInfoModel.targetCatId==null || tblDisburseCompanyInfoModel.targetCatId=='') && error " severity="error" text="Cannot be left blank"></p-message>-->
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Phone<span class="mandatory">*</span></label>
                    <!--<input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.phone">
            <p-message *ngIf="(tblDisburseCompanyInfoModel.phone==null || tblDisburseCompanyInfoModel.phone=='') && error " severity="error" text="Cannot be left blank"></p-message>-->
                    <p-inputMask mask="99999999999" [(ngModel)]="tblDisburseCompanyInfoModel.phone" pKeyFilter="int" [style]="{'width':'100%'}" [disabled]="isEditMode"></p-inputMask>
                    <p-message *ngIf="(tblDisburseCompanyInfoModel.phone==null || tblDisburseCompanyInfoModel.phone=='') && error " severity="error" text="Cannot be left blank"></p-message>
                </div>

                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Fax</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.fax" [disabled]="isEditMode">
                </div>
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Salary Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.salAcc" (change)="enableSave(tblDisburseCompanyInfoModel.salAcc);" [disabled]="isEditMode">
                </div>

            </div>
            <div class="p-grid">


                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Remittance Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.remAcc" (change)="enableSave(tblDisburseCompanyInfoModel.remAcc);" [disabled]="isEditMode">
                </div>
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Cash Back Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.cabAcc" (change)="enableSave(tblDisburseCompanyInfoModel.cabAcc);" [disabled]="isEditMode">
                </div>

                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Customer Activation Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.catAcc" (change)="enableSave(tblDisburseCompanyInfoModel.catAcc);" [disabled]="isEditMode">
                </div>
            </div>



            <div class="p-grid">
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Remittance Incentive Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.incAcc" (change)="enableSave(tblDisburseCompanyInfoModel.incAcc);" [disabled]="isEditMode">
                </div>

                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">EFT Inward Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.eftAcc" (change)="enableSave(tblDisburseCompanyInfoModel.eftAcc);" [disabled]="isEditMode">
                </div>
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Reward Account</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.rwdAcc" (change)="enableSave(tblDisburseCompanyInfoModel.rwdAcc);" [disabled]="isEditMode">
                </div>
            </div>

            <div class="p-grid">


                <div class="p-col-6" *ngIf="isShow" style="color:red">
                    <!--<label for="float-input input-lg" class="col-form-label-dd">Please give at least one account</label>-->
                    <p>Please give at least one account</p>
                </div>
            </div>

            <div class="p-grid" *ngIf="isEditMode">
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Refund disbursement amount</label>
                    
                </div>

                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Amount</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.bala_nce" [disabled]="true">
                </div>
                <div class="p-col-4">
                    <label for="float-input input-lg" class="col-form-label-dd">Refund Amount</label>
                    <input type="text" class="form-control form-input" [(ngModel)]="tblDisburseCompanyInfoModel.refund_amt" (change)="checkAndEnableApprove();">
                </div>
            </div>

        </div>
    </p-card>
</div>

<app-generic-form-action [isEditMode]="isEditMode" [disableAction]="isActionDisabled" (onSave)="companySave()" (onDelete)="companyDelete($event)"></app-generic-form-action>
