<div class="form-elements">
    <p-card [style]="{'margin-bottom':'20px'}">
        <div class="form-group">
            <h6 class="form-header"><i class="fa fa-list-alt" aria-hidden="true"></i> Banglalink Topup Stock Entry</h6>
            <p-fieldset legend="">
                <div class="p-grid">
                    <div class="p-col-1">

                    </div>
                    <div class="p-col-3">
                        <div style="text-align:center">
                            <label>GL Code</label>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div style="text-align:center">
                            <label>GL Name</label>
                        </div>
                    </div>
                    <div class="p-col-3">
                        <div style="text-align:right">
                            <label style="text-align:center">Amount</label>
                        </div>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-1">
                    </div>
                    <!--<div class="p-col-8">
                        <div>
                            <p-dropdown [options]="glList" [(ngModel)]="fundTransferModel.toSysCoaCode" placeholder="Select GL" [filter]="true" filterBy="label,value.name" [style]="{display: 'grid'}"></p-dropdown>
                            <p-message *ngIf="(fundTransferModel.toSysCoaCode==null || fundTransferModel.toSysCoaCode=='') && error " severity="error" text="Cannot be left blank"></p-message>
                        </div>
                    </div>-->
                    <div class="p-col-3">
                        <div>
                            <input type="text" style="text-align:center" class="form-control" [(ngModel)]="blinkTopupStockEntryModel.glCode" [disabled]="true">
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div>
                            <input type="text" style="text-align:center" class="form-control" [(ngModel)]="blinkTopupStockEntryModel.glName" [disabled]="true">
                        </div>
                    </div>
                    <div class="p-col-3">
                        <div>
                            <input type="text" style="text-align:right" class="form-control" [(ngModel)]="blinkTopupStockEntryModel.amount" [disabled]="true">
                        </div>
                    </div>
                </div>
            </p-fieldset>

            <br />

            <div class="p-grid">
                <div class="p-col-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Transfer Amount<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="blinkTopupStockEntryModel.transactionAmt" id="PayAmt" pKeyFilter="int" (change)="GetTransDtlForRobiByPayAmount();">
                            <p-message *ngIf="(blinkTopupStockEntryModel.transactionAmt==null || blinkTopupStockEntryModel.transactionAmt=='0' || blinkTopupStockEntryModel.transactionAmt=='') && error " severity="error" text="Cannot be left blank"></p-message>
                        </div>
                    </div>
                </div>
                <div class="p-col-4">

                </div>
                <div class="p-col-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Discount ratio <span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" [(ngModel)]="blinkTopupStockEntryModel.discountRatio" (change)="GetTransDtlForRobiByPayAmount();">
                            <p-message *ngIf="(blinkTopupStockEntryModel.discountRatio==null || blinkTopupStockEntryModel.discountRatio=='0'|| blinkTopupStockEntryModel.discountRatio=='') && error " severity="error" text="Cannot be left blank"></p-message>
                        </div>
                    </div>
                </div>

            </div>

            <p-fieldset legend="Transaction Details">

                <p-table [value]="vMTransactionDetailList">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols" style="text-align:center">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td *ngFor="let col of cols" style="text-align:right">
                                <div [ngSwitch]="col.template.name">
                                    <p *ngSwitchCase="'money'">
                                        <span [innerHtml]="rowData[col.field] | number:'1.2-2' | bdtCurrency"></span>
                                    </p>
                                </div>
                                <span *ngIf="col.template=='none'">{{rowData[col.field]}}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="p-grid" style="margin:auto">
                    <div class="p-col-4">

                    </div>
                    <div class="p-col-8">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label single-line">In Words :</label>
                            <div class="col-sm-10">

                                <input type="text" class="form-control" *ngIf="vMTransactionDetailList && vMTransactionDetailList.length > 5" [(ngModel)]="vMTransactionDetailList[6].inWords" [disabled]="true">

                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>





        </div>
    </p-card>
</div>

<!--<app-generic-form-action [isEditMode]="isEditMode" (onSave)="saveMerchant($event)" (onDelete)="onDeleteMerchant($event)"></app-generic-form-action>-->
<app-generic-form-action [isEditMode]="isEditMode" (onSave)="saveBlinkTopupStockEntry($event)" [disableAction]="isSaveDisable"></app-generic-form-action>
